##########################
## IntelliJ
##########################
*.iml
DesignPatterns/.idea/
DesignPatterns2/.idea/
*.ipr
*.iws
DesignPatterns/out/
DesignPatterns2/out/
DesignPatterns/.idea_modules/
DesignPatterns2/.idea_modules/
